.product-detail {
  .detail-img {
    width: 40%;
    .prod-img {
    }
  }
  .detail-content {
    width: 50%;
    #prod-size {
        .btn {
            margin-right: 1.2rem;
        }
    }
    .btn1 {
        @include btn;
    }
  }
}
