@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none !important;
  vertical-align: baseline !important;
}

.header {
  background-color: #000;
  height: 5rem;
}
.header-logo {
  height: 3.2rem;
  line-height: 5rem;
}
.header-logo img {
  vertical-align: middle !important;
}
.header-content {
  width: 20%;
}
.header-content li, .header-content li a, .header-content li span {
  line-height: 5rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}
.header-content li span {
  font-size: 3.6rem;
}
.menu {
  position: relative;
}
.menu .nav-link {
  font-size: 1.6rem;
}
.menu .active::before {
  content: "";
  position: absolute;
  width: 4.5rem;
  height: 0.2rem;
  background-color: #000;
  top: 3.2rem;
}

.carousel {
  margin-top: 10rem;
}
.carousel-item {
  background-image: url(/assets/images/image6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.carousel-item .items-left {
  width: 60%;
}
.carousel-item .items-right h2 {
  font-size: 4rem;
  font-weight: 300;
}
.carousel-item .items-right h4 {
  font-size: 1.8rem;
  font-weight: 300;
}
.carousel-item .items-right .btn {
  font-size: 2rem;
  margin: 2rem 0;
  background-color: #f8b653;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
}
.carousel-item .items-right .btn:hover {
  background-color: #faa423;
}
.carousel .carousel-control-prev-icon {
  background-image: url(/assets/images/Polygon2.png) !important;
  width: 4rem;
  height: 7rem;
}
.carousel .carousel-control-next-icon {
  background-image: url(/assets/images/Polygon1.png) !important;
  width: 4rem;
  height: 7rem;
}
.carousel .carousel-indicators [data-bs-target] {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.product-detail .detail-img {
  width: 40%;
}
.product-detail .detail-content {
  width: 50%;
}
.product-detail .detail-content #prod-size .btn {
  margin-right: 1.2rem;
}
.product-detail .detail-content .btn1 {
  font-size: 2rem;
  margin: 2rem 0;
  background-color: #f8b653;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
}
.product-detail .detail-content .btn1:hover {
  background-color: #faa423;
}

.product-feature h3 {
  font-size: 4rem;
  font-weight: 300;
  margin: 2rem 0;
}

.cart-card {
  font-family: "Oswald", Arial, sans-serif;
  position: relative;
  margin: 1rem;
  max-width: 30%;
  width: 100%;
  background: #ffffff;
  text-align: center;
  color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 1.6rem;
  padding: 1.5rem;
  margin: 3rem 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}
.cart-card * {
  box-sizing: padding-box;
  transition: all 0.2s ease-out;
}
.cart-card img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.cart-card figcaption {
  padding: 20px 15px;
}
.cart-card h3,
.cart-card p {
  margin: 0;
}
.cart-card h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.cart-card p {
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 300;
}
.cart-card .price span {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 48px;
  letter-spacing: 1px;
}
.cart-card i {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 64px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  background-color: #666666;
  color: #fff;
  font-size: 1.6em;
  border: 4px solid #ffffff;
}
.cart-card a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.cart-card:hover {
  webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.cart-card:hover i {
  background-color: #f8b653;
}

.footer {
  margin-top: 10rem;
}
.footer .footer-up, .footer .footer-down {
  padding: 2rem 0;
}
.footer .footer-up a, .footer .footer-down a,
.footer .footer-up p,
.footer .footer-down p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: rgb(73, 73, 73);
}
.footer .footer-up a:hover, .footer .footer-down a:hover {
  color: #000;
}
.footer .footer-up .btn1, .footer .footer-down .btn1 {
  font-weight: 400;
  color: #ffb94f;
}
.footer .footer-up .btn1:hover, .footer .footer-down .btn1:hover {
  color: #ff9900;
}
.footer .footer-up .footer-items, .footer .footer-down .footer-items {
  width: 30%;
  padding-left: 2rem;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.footer .footer-down {
  background-color: #e4e4e4;
}